header {
    padding: 1vh 1vw;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    img {
        width: 20vw;
    }
    form{
        section{
            display: flex;
            align-items: center;
            input{
                margin: 0.5rem;
            }
            span.welcome{
                padding-right: 1em;
                display: inline-block;
            }
        }
        // &__button{
        //     list-style-type: none;
        //     li{
        //         padding: 0.9rem 2rem;
        //         background-color: black;
        //         border-radius: 500px;
        //         a{
        //             background-color: inherit;
        //             color: $white;
        //             text-decoration: none;
        //         }
        //     }
        //     :hover{
        //         background-color: $blue;
        //     }
        // }
    }
}