@import 'vars';

* {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}
html{
    background-color: $white;
    text-align: center;
}
@import 'header';

main{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        margin-bottom: 1rem;
    }
    p{
        width: 70ch;
        margin-bottom: 1rem;
    }
    .selectorObraSocial{
        &__particular{
            width: 70ch;
            margin-bottom: 1rem;
            div {
                margin-bottom: 1rem;
            }
        }
    }
    #selectorObraSocial__obraSocial div{
        @extend .selectorObraSocial__particular;
    }
    #practicas{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>#masterDiv{
            display: grid;
            grid-template-columns: 2fr 1fr;
            table{
                margin: 0 auto;
                margin-bottom: 20px;
                padding-top: 10px;
                text-align: start;
                width: 100%;
            }
        }
    }
}

.swal-title{
    background: inherit;
}

@import 'boton';
@import 'footer';