@import 'vars';
@import 'mixin';

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: $white;
}
html{
    height: 100vh;
}
@import 'header';

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        // display: inline;
        margin-bottom: 1rem;
    }
    p{
        // display: inline;
        margin-bottom: 1rem;
    }
    #formPracticas{
        label{
            margin-bottom: 10px;
        }
        section.selectorPracticas{
            margin-bottom: 10px;
            .fa-plus{
                @include iconos_mas_menos(orangered);
            }
            .fa-minus{
                @include iconos_mas_menos(lightskyblue);
            }
        }
    }
}

@import 'boton';
@import 'footer';