* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Raleway", "Montserrat", sans-serif;
}

html {
  background-color: #EEEEEE;
  text-align: center;
}

header {
  padding: 1vh 1vw;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EEEEEE;
}

header img {
  width: 20vw;
}

header form section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form section input {
  margin: 0.5rem;
}

header form section span.welcome {
  padding-right: 1em;
  display: inline-block;
}

.fixer {
  position: relative;
  min-height: 100vh;
}

main {
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  margin-bottom: 1rem;
}

main p {
  width: 70ch;
  margin-bottom: 1rem;
}

main .selectorObraSocial__particular, main #selectorObraSocial__obraSocial div {
  width: 70ch;
  margin-bottom: 1rem;
}

main .selectorObraSocial__particular div, main #selectorObraSocial__obraSocial div div {
  margin-bottom: 1rem;
}

main #practicas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #practicas > #masterDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

main #practicas > #masterDiv table {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: start;
  width: 100%;
}

.swal-title {
  background: inherit;
}

/* From uiverse.io */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #EEEEEE;
  background-color: black;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #5aa3df;
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
          box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5em;
}
/*# sourceMappingURL=style.css.map */