* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #EEEEEE;
}

html {
  height: 100vh;
}

header {
  padding: 1vh 1vw;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EEEEEE;
}

header img {
  width: 20vw;
}

header form section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form section input {
  margin: 0.5rem;
}

header form section span.welcome {
  padding-right: 1em;
  display: inline-block;
}

main {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  margin-bottom: 1rem;
}

main p {
  margin-bottom: 1rem;
}

main #newMain {
  display: none;
}

main #newMain #formPracticas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #newMain #formPracticas div {
  margin-bottom: 10px;
}

main #newMain #formPracticas select {
  margin-bottom: 7px;
}

main #newMain #resultado {
  font-size: 2rem;
  margin: 10px auto;
}

/* From uiverse.io */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #EEEEEE;
  background-color: black;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #5aa3df;
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
          box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

button#autorizar {
  margin-top: 50px;
}

button#mas {
  color: black;
  border: 1px solid black;
  padding: 0.25em;
  background-color: orangered;
  border-radius: 100%;
  margin: 0px 6px 0px 0px;
  opacity: 1;
  cursor: pointer;
}

button#mas i {
  background-color: inherit;
}

button#mas:hover {
  -webkit-transform: none;
          transform: none;
}

button#menos {
  color: black;
  border: 1px solid black;
  padding: 0.25em;
  background-color: lightskyblue;
  border-radius: 100%;
  margin: 0px 6px 0px 0px;
  opacity: 1;
  cursor: pointer;
}

button#menos i {
  background-color: inherit;
}

button#menos:hover {
  -webkit-transform: none;
          transform: none;
}

.footer {
  margin: 1.5rem;
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */